/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap";
@import "palette";
@import 'search.scss';
@import 'card.scss';
@import 'overview.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Poppins');

// $primary-color-dark:   #455A64;
// $primary-color:        #607D8B;
// $primary-color-light:  #CFD8DC;
// $primary-color-text:   #FFFFFF;
// $accent-color:         #FF5722;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;

body {
    color: $primary-color-text;
    background-color: $primary-color-dark;
    font-family: 'PT Sans Narrow', sans-serif;
    
    .main-content {
      margin: 25px 0 0 0;
    }

    .header {
      line-height: 130px;
    }

    .nav-group {
      // line-height: 130px;
      vertical-align: middle;

      .nav-link {
        color: $divider-color;
        padding: 0.5em 2.5em;

        &:hover {
          color: $accent-color;
        }
      }
    }

    .logo {
      color: $accent-color;
      .logo-text {
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 75px;
      }
    }

    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid $divider-color;
      margin: 1em 0;
      padding: 0; 
  }
}