<div id="search">
    <div class="card card-material">
        <div class="card-block">
            <div class="search-input-wrapper">
                <div class="search-icon">
                    <i class="fa fa-search"></i>
                </div>
                <div class="search-input">
                    <input type="text" placeholder="Start searching popular movies..." ng-model="vm.searchText" ng-model-options="{debounce: 500}" ng-change="vm.onSearchChange()"/>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="search-results" ng-class="{sidebar : vm.selectedMovie !== null}">
        <div class="scrollbar-inner">
            <div class="card card-material card-selectable movie-result"
                    ng-class="{'card-selected' : vm.selectedMovie.id === movie.id}" 
                    ng-repeat="movie in vm.movieResults"
                    ng-click="vm.onMovieSelect(movie)">
                <div class="movie-result-inner">
                    <div class="movie-result-image">
                        <img ng-src="{{vm.getMoviePosterUrl('w92', movie.poster_path)}}">
                    </div>
                    <div class="movie-result-data">
                        <h4>{{movie.title}}</h4>
                        <small class="text-muted">{{movie.release_date | date}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>